# 1 . 2

In [ ]:
import pandas as pd

data = pd.read_csv('employes.csv')

data.head(5)

# 3

In [ ]:
data_types = data.dtypes
print(data_types)

# 4

In [ ]:
len(data)

In [ ]:
len(data.columns)

In [ ]:
data.columns = data.columns.str.strip()
data1 = data[['FIRST_NAME', 'LAST_NAME']]
print(data1)

In [ ]:
data1.iloc[7:14]

In [ ]:
data['FIRST_NAME'] + ' ' + data['LAST_NAME']

In [ ]:
data['ANNUAL_SALARY'] = data['SALARY'] * 12

In [ ]:
missing_values = data.isnull().sum()
print(missing_values)
print('\n')
missing_values = missing_values[missing_values > 0]
print(missing_values)

In [ ]:
data['ANNUAL_SALARY'].mean()

In [ ]:
data[data['ANNUAL_SALARY'] > data['ANNUAL_SALARY'].mean()]

In [ ]:
data.sort_values('SALARY')

In [ ]:
data[data['JOB_ID'] == 'SH_CLERK']

In [ ]:
data['HIRE_DATE'] = pd.to_datetime(data['HIRE_DATE'], format='mixed')
data[data['HIRE_DATE'] > '2006-01-01']

In [ ]:
data.groupby('DEPARTMENT_ID').size()

In [ ]:
data['HIRE_YEAR'] = data['HIRE_DATE'].dt.year
data.groupby('HIRE_YEAR').size()

In [ ]:
avrsal_by_department = data.groupby('DEPARTMENT_ID')['SALARY'].mean()
print(avrsal_by_department)

In [ ]:
high_salary = avrsal_by_department[avrsal_by_department > 7000]
print(high_salary)

In [ ]:
salary_by_department = data.groupby('DEPARTMENT_ID')['ANNUAL_SALARY'].sum()
print(salary_by_department)

In [ ]:
data2 = data.sort_values('SALARY', ascending=False)
data2.head(5)
# or data2 = data.sort_values('SALARY', ascending=True).tail(5)

In [ ]:
data2.tail(5)

In [ ]:
data.groupby('JOB_ID').size()

In [ ]:
data['COMMISSION_PCT'] = 0.1
print(data[['FIRST_NAME', 'LAST_NAME', 'COMMISSION_PCT']])

In [ ]:
data['NEW_SALARY'] = data['SALARY'] * (1 + data['COMMISSION_PCT'])
print(data[['FIRST_NAME', 'LAST_NAME', 'SALARY', 'COMMISSION_PCT', 'NEW_SALARY']])

In [ ]:
data[data['MANAGER_ID'] == 124]

In [ ]:
data['NEW_ANNUAL_SALARY'] = data['ANNUAL_SALARY'] * (1 + data['COMMISSION_PCT'])
data.groupby('DEPARTMENT_ID')['NEW_ANNUAL_SALARY'].sum()

In [ ]:
# print(data.columns)
# data["PHONE_NUMBER"].astype(str)
data["PHONE_NUMBER"].str.startswith('650', na=False)

In [ ]:
data["YEARS_OF_SERVICE"] = 2025 - data['HIRE_DATE'].dt.year
data["YEARS_OF_SERVICE"]

In [ ]:
data[data["ANNUAL_SALARY"] > data.groupby('DEPARTMENT_ID')['ANNUAL_SALARY'].transform('mean')]

In [ ]:
data.groupby('DEPARTMENT_ID')['SALARY'].max()

In [ ]:
# data['PHONE_NUMBER']

data[data['PHONE_NUMBER'].isnull()]